In [1]:
import numpy as np
import cv2
import pandas as pd

import pickle
from matplotlib import pyplot as pyplot
import os

from skimage.filters import roberts,sobel,scharr, prewitt
from scipy import ndimage as nd

In [38]:
def loadImage(img_name):

    img_path = "train_images/" + img_name
    input_img=cv2.imread(img_path,0)
    temp_df = pd.DataFrame(columns=["Image_Name","Pixel_Values"])

    #input_img=cv2.resize(input_img, (1050, 800))

    #Check if the image is RGB or grey and convert to grey if they are RGB
    #if input_img.ndim==3 and input_img.shape[-1]==3:
    #    img=cv2.cvtColor(input_img,cv2.COLOR_RGB2GRAY)
    #elif input_img.dim==2:
    #    img=input_img
    #else:
    #    raise Exception("Only work with RGB and grayscale images")
    
    ###################################################################################################################################
    # Add data into the dataframe
    # The first feature is the pixel values

    pixel_values=input_img.reshape(-1)
    temp_df["Pixel_Values"] = pixel_values
    temp_df["Image_Name"] = [img_name]* len(temp_df)

    return temp_df

In [34]:
image_dataset=pd.DataFrame(columns=["Image_Name","Pixel_Values"])

In [39]:
image_dataset = pd.concat([image_dataset,loadImage("SL_001.jpg")],ignore_index=True)

In [40]:
image_dataset

        Image_Name Pixel_Values
0       SL_001.jpg          152
1       SL_001.jpg          150
2       SL_001.jpg          155
3       SL_001.jpg          156
4       SL_001.jpg          152
...            ...          ...
786427  SL_001.jpg          188
786428  SL_001.jpg          188
786429  SL_001.jpg          188
786430  SL_001.jpg          188
786431  SL_001.jpg          188

[786432 rows x 2 columns]

In [41]:
image_dataset = pd.concat([image_dataset,loadImage("SL_002.jpg")],ignore_index=True)

In [42]:
image_dataset

         Image_Name Pixel_Values
0        SL_001.jpg          152
1        SL_001.jpg          150
2        SL_001.jpg          155
3        SL_001.jpg          156
4        SL_001.jpg          152
...             ...          ...
1570301  SL_002.jpg          250
1570302  SL_002.jpg          250
1570303  SL_002.jpg          253
1570304  SL_002.jpg          242
1570305  SL_002.jpg          255

[1570306 rows x 2 columns]

In [44]:
img_path = "train_images/"
image_dataset=pd.DataFrame(columns=["Image_Name","Pixel_Values"])
for img_name in sorted(os.listdir(img_path)):
    #print(img_name)
    image_dataset = pd.concat([image_dataset,loadImage(img_name)],ignore_index=True)

: